body {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/bg.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animateBg infinite ease-in-out;
  animation-duration: 60s;
}

.Sun {
  width: 25rem;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Sun__circle {
  width: 6rem;
  aspect-ratio: 1;
  background: white;
  border-radius: 50%;
  z-index: 3;
}
.Sun::before {
  content: "";
  position: absolute;
  width: 7rem;
  aspect-ratio: 1;
  background: #f2cc0e;
  border-radius: 50%;
  filter: blur(10px);
  box-shadow: 0 0 5rem rgba(255, 132, 0, 0.658);
  z-index: 2;
}
.Sun::after {
  content: "";
  position: absolute;
  width: 23rem;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("./assets/sun.png");
  background-position: center;
  background-size: contain;
  z-index: 1;
  filter: blur(6px);
  opacity: 0.7;
}

.Star {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  animation: star infinite ease-in-out;
  animation-duration: 2s;
  margin: 6rem 40rem;
}
.Star:nth-child(2n) {
  margin: 6rem 30rem;
}
.Star:nth-child(3n) {
  margin: 6rem 20rem;
}

.Stars {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  position: absolute;
}
.Stars .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.023);
  overflow: hidden;
  transform: rotate(45deg);
}
.Stars .line:nth-child(1n) {
  left: 25%;
}
.Stars .line:last-child {
  left: 75%;
}
.Stars .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop infinite;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.Stars .line::after:nth-child(1) {
  margin-left: -25%;
}
.Stars .line::after:nth-child(1)::after {
  animation-delay: 3s;
}
.Stars .line::after:nth-child(3) {
  margin-left: 25%;
}
.Stars .line::after:nth-child(3)::after {
  animation-delay: 1.5s;
}

.SolairWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  padding: 4rem;
}
.SolairWrapper__chield {
  position: absolute;
  aspect-ratio: 1;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.SolairWrapper__parent {
  width: 100%;
  height: 100%;
  animation: rotatePlanets infinite ease-in-out;
  animation-timing-function: linear;
}
.SolairWrapper__kid {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: rotatePlanets infinite ease-in-out;
  animation-timing-function: linear;
}

.--outlined {
  border-bottom: 1px solid white;
}

.Saturan {
  position: absolute;
  right: 0rem;
  bottom: -8rem;
  animation: rotate infinite ease-in-out;
  animation-duration: 5s;
  filter: drop-shadow(0 0 2rem #bfa691);
}
.Saturan img {
  width: 15rem;
}

.Earth {
  width: 5rem;
  aspect-ratio: 1;
  background-image: url("./assets/earth.png");
  background-position: 0;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 50px #00ccff;
  position: relative;
}
.Earth__wrapper {
  position: absolute;
  top: -8rem;
}

.Other {
  width: fit-content;
  position: absolute;
  border-radius: 50%;
  animation: translateFireBall infinite ease-in-out;
  animation-duration: 8s;
}
.Other img {
  width: 5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  z-index: 3;
  filter: drop-shadow(0 0 2rem #ff2200);
}
.Other__planet {
  position: relative;
  width: fit-content;
}
.Other__planet::after {
  content: "";
  position: absolute;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ee900e;
  border-radius: 50%;
  filter: blur(8px);
  z-index: -1;
  animation: fire infinite ease;
  animation-duration: 0.1s;
}
.Other__planet::before {
  content: "";
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  background-image: url("./assets/FIRE.png");
  background-size: cover;
  filter: blur(10px);
  animation: fireanimate infinite ease;
  animation-duration: 0.1s;
}

/* //////////////// 
    Animations 
  //////////////// */
  
@keyframes translateFireBall {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -20rem;
  }
  100% {
    bottom: 0;
  }
}
@keyframes fire {
  from {
    width: 6.5rem;
  }
  to {
    width: 5rem;
  }
}
@keyframes fireanimate {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: -360deg;
  }
}
@keyframes rotatePlanets {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
@keyframes drop {
  from {
    top: -50%;
  }
  to {
    top: 110%;
  }
}
@keyframes star {
  0% {
    background: rgba(255, 255, 255, 0.133);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.463);
  }
  50% {
    background: white;
    box-shadow: 0 0 25px white;
  }
  100% {
    background: rgba(255, 255, 255, 0.133);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.463);
  }
}
@keyframes animateBg {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}
